.header_container {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 7.8vh;
    user-select: none; 
}

.app_logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
}

.app_logo:hover {
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25), 0 4px 4px rgba(255, 255, 255, 0.22);
}

.burger-image {
    transition: all 0.5s;
    width: 50%;
    cursor: pointer;
}
.bg-active {
    transition: all 0.5s;
    transform: rotate(90deg);
    z-index: 4;
}
.burger-block {
    transition: all 0.5s;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger-image:hover {
    width: 55%;
}

.game_links_container {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game_link {
    width: 45px;
    height: 45px;
    transition: 0.8s;
}

.game_link:hover {
    transform: scale(1.1);
}

.link_container {
    width: 45px;
    height: 45px;
}

@media (max-width: 860px) and (min-width: 465px) {
    .game_link {
        width: 35px;
        height: 35px;
    }
    .link_container {
        width: 35px;
        height: 35px;
    }
    .game_links_container {
        width: 40%;
    }
    
}

@media (max-width: 464px) {
    .app_logo {
        font-size: 24px;
    }
    .game_link {
        width: 28px;
        height: 28px;
    }
    .link_container {
        width: 28px;
        height: 28px;
    }
    .burger-image {
        width: 40%;
    }
    .burger-block {
        width: 50px;
    }
}