.settings-page {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F08A5D 0%, #B83B5E 100%)
}

h2 {
    color: #fff;
}

.switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 2rem;
    color: #fff;
}

.switch-label {
    font-size: 2rem;
    color: #fff;
}

.select-wrapper+label {
    font-size: 2rem;
    margin-bottom: 2vh;
}

.select-wrapper input.select-dropdown {
    font-size: 2rem;
    color: #fff;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 2rem;
}