.game-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 84.3vh;
  user-select: none;
}
.game-handler {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}