.link-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-link {
  margin-top: 10px;
  color: black;
  font-size: 30px;
}
.card-action {
  display: flex !important;
  justify-content: center !important;
}

.reg_card {
  background-color: rgba(0, 0, 0, 0.1);
}

.reg_container {
    height: 84.4vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.photo_field {
  margin-left: 4% !important;
}

.sign_in_button {
  margin-bottom: 3% !important;
}

.card-title {
  height: 5% !important;
}

.reg_card{
  .card-content {
    .card-title{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.card-input {
  width: 100%;
}
@media (max-width : 680px) {
  .card-title {
    font-size: 20px !important;
  }
}