.link-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_card {
  background-color: rgba(0, 0, 0, 0.1);
}

.auth_container {
  height: 84.4vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.auth-link {
  margin-top: 10px;
  color: black;
  font-size: 30px;
}
.card-action {
  display: flex !important;
  justify-content: center !important;
  border-top: 1px solid rgba(160,160,160,0) !important;
}

.row {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.sign_in_btn_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.input-auth-field {
  margin: 6.6% 0; 
}