.games-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 84.9vh;
}

.game-card {
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  width: 250px;
  height: 250px;
  background: rgba(78, 77, 77, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.game-card:hover {
 opacity: 0.7;
}

.game-name {
  border-radius: 5px;
  margin-top: 10px;
  width: 90%;
  text-align: center;
  background: rgba(226, 220, 220, 0.8);
  color: black;
}

.game-icon {
  width: 95px;
}

@media (max-width: 539.5px) {
  .games-block {
    height: auto;
  }
}