.group {
    width: 16.65%;
    height: 40px;
    font-size: 22px;
    background-color: rgba(226, 150, 91, 0.45);
    user-select: none; 
}

.group:hover {
    background-color: rgba(226, 150, 91, 0.6);
}

.paginator {
    padding-left: 1%;
    padding-right: 1%;
  }
  
.carosel_part:active, .carosel_part:focus {
    outline: none;
}
  
.carosel_part::-moz-focus-inner {
    border: 0;
}

.word_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    user-select: none; 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 1%;
}

#arrow {
    margin: 0 2%;
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: rgba(226, 150, 91, 0.45);
    border-radius: 50%;
}

.arrow:hover {
    background-color: rgba(226, 150, 91, 0.6);
}