.stat_page_container {
    font-size: 18px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.statistic_span_info {
    padding-top: 10px;
}

.stat_container {
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
    width: 100%;
}

.game_stat_img {
    height: 60px;
}

.stat_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 3% 0;
}

.capt {
    margin: 4% 0;
    font-size: 32px;
}