.stat_page_container {
    font-size: 18px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.statistic_span_info {
    padding-top: 10px;
}

.stat_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.game_stat_img {
    height: 60px;
    margin-bottom: 5%;
}

.stat_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 210px;
    height: 250px;
    margin: 5% 0;
    background-color: rgba(0, 0, 0, 0);
}

p {
    margin: 3% 0;
}

.capt {
    margin-top: 4%;
    font-size: 32px;
}