.user-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 2% 5%;
  margin: 0 3%;
}
.user-name {
  color:rgb(199, 193, 193);
  font-size: 20px;
}
.image-handler {
  width: fit-content;
}
.avatar {
  width: 40px;
  border-radius: 10px;
}