.promo_container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.decription {
    width: 40%;
}

.feature_card {
    background-color: rgba( #000000, 0);
    color: white;
    width: 70%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature_img {
    height: 60px;
}

.youtube_video_container {
    margin-top: 4%;
    margin-bottom: 4%;
}

.youtube_video {
    border-radius: 20%;
}

.head_card {
    font-size: 22px;
    margin-bottom: 1%;
}

.sign_in_btn {
    margin-right: 4%;
}

.btn_container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.head_promo_img {
    height: 400px;
}

.promo_first_block {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.info_promo {
    width: 35%;
    font-size: 20px;
    color: white;
}

.caption_promo {
    font-size: 42px;
    text-align: center;
}

@media (max-width: 860px) and (min-width: 500px) {
    .promo_first_block {
        flex-direction:column-reverse;
        margin-bottom: 5%;
    }
    .info_promo {
        width: 90%;
    }
}